#search-filter {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    #search {
        display: flex;
        position: relative;
        #glass{  padding-left: 18px;
            align-self: center;
            position: absolute;
        }
        input {
            padding: 10px 0px 10px 50px;
            border-radius: 6px;
            border: 1px solid #e0e0e0;
            width: 300px;
        }
    }
    #Regions {
        display: flex;
        margin-left: 30px;
    }
}